
{% block content%}
	
<div class="informations-user">
    <p>
        <label>Username:</label>

        {{person.user}}
    </p>
    <p>
        {{person.user.email}}
    </p>
</div>


<style>
    .profile-image{
        height: 50px;
        width: 50px;
        margin-left: 50px;
        margin-top: 40px;
    }
    .informations-user{
        margin-left: 100px;
    }
    .change-password-profile{
        margin-left: 280px;
        margin-top: 20px;
    }
    .change-profile-photo{
        margin-top: 20px;
        margin-left: 100px;
    }
    .fieldWrapper{
        margin-left: 100px;
    }



    .content-link{
font-family: 'Roboto', sans-serif;
font-size: 14px;
text-decoration: none;
color: black;
}


.content-link:hover{
color: black;
border-bottom: black 0.125em solid;
}

</style>


{% endblock %}